.react-datepicker__day--highlighted {
    background-color: red;
  }
  
  .react-datepicker__day--keyboard-selected {
    background-color: grey;
    color: azure;
  }
  
  .react-datepicker__close-icon::after {
    background-color: red;
  }

  .react-datepicker-wrapper, .react-datepicker__input-container > input {
    min-width: 100% !important;
  }