body {
  background: linear-gradient(135deg, #1a1a1a, #343434, #5a5a5a);
}

.container {
  min-height: 100vh;
  margin-top: 100px;
}

table {
  width: 100%;
  margin-top: 20px;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

th,
td {
  width: 20%;
}
