.btn-outline-light:hover {
    color: var(--bs-primary) !important;
}

.nav-link:hover {
    color: var(--bs-border) !important;
}

a:hover {
    color: var(--bs-primary) !important;
 }

 a:active, a:focus {
    color: var(--bs-border) !important;
 }