.btn-outline-light:hover {
    color: var(--bs-primary) !important;
}

.nav-link:hover {
    color: var(--bs-border) !important;
}

.logo {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}